%tbody
    / relevant_pages_rows_repeat
    %tr
        / relevant_pages_row_cells_repeat
        %td
            \%percent%
            %span{'class':'%percent_dynamics_class%'}
                \%percent_dynamics%
        / /relevant_pages_row_cells_repeat
        %td
            .truncate-wrapper.middle
                .truncate.tooltipped{'data-tooltip':'%relevant_page%'}
                    \%relevant_page%
    / /relevant_pages_rows_repeat
