/ summary_view_block rates
.main-table.summary-table
    / rates_block
    %table.highlight.responsive-table
        %thead
            %tr
                %th Показатель
                / rates_headers_repeat
                %th %header_name%
                / /rates_headers_repeat
        = Haml::Engine.new(File.read('includes/blocks/sectionRates/tbody.haml')).render
    / /rates_block
/ /summary_view_block rates
